body{
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;
}
header, footer{
    background-color: #eec0c4;
    padding: 5px 15px;
}
li{
    list-style: none;
    display: inline;
    font-family: 'Style Script', cursive;
    font-size: 26px;
    padding: 10px 30px;
}
.flex-conteneir{
    display: flex;
    flex-wrap: nowrap ;
    justify-content: space-between;
    align-items: center;
}
p{
    color: #333;
}
.flex-conteneir-produtos, .flex-conteneir-rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif; 
}
.flex-produtos{
    width: 26%;
    margin: 30px 0px;
}
    
a{
    text-decoration: none;
    color: #333;
    margin: 0;
}
.lista{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
}
h2{
    color:#f06c98;
}

